<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DiabetesManager</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a (click)="this.router.navigate([''])">Úvodná stránka</a></li>
        <li><a (click)="this.router.navigate(['entries'])" >Záznamy glykémii <span class="sr-only">(current)</span></a></li>
        <li><a (click)="this.router.navigate(['reminders'])">Pripomienky</a></li>
      <li *ngIf="this.admin"> <a class="green">ADMIN</a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()" href="">Odhlásiť</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Chart JS for graphs -->
<div class="container" *ngIf="dataLoaded">

    <div class="row">
        <div class="error-message">
            {{errorMessage}}
        </div>
    </div>

    <div class="col-md-6">
        <div style="display: block;">
            <canvas baseChart width="400" height="400"
                    [datasets]="lineChartData"
                    [labels]="lineChartMonthDaysLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
    <div class="col-md-6" style="margin-bottom: 10px">
        <table class="table table-responsive table-condensed">
            <tr>
                <th *ngFor="let label of lineChartMontsLabels">{{label}}</th>
            </tr>
            <tr *ngFor="let d of lineChartData">
                <td *ngFor="let label of lineChartMontsLabels; let j=index">{{d && d.data[j]}}</td>
            </tr>
        </table>

        <input #newPin type="text" name="change_pin">
        <button (click)="changePin(newPin.value)">Zmeniť PIN</button>
    </div>
</div>

